<div class="room-wrapper">
  <div class="conversation-wrapper">
    <app-navbar>
      <div class="navbar-content-wrapper">
        <div class="room-info">
          <button tuiIconButton type="button" size="s" appearance="icon" icon="tuiIconArrowLeftLarge" tuiHint="Go back"
            (click)="goBack()"></button>
          <span class="room-name" [class.tui-skeleton]="loading">Room {{room?.uniqueName}}</span>
        </div>
        <div class="room-options" [class.tui-skeleton]="loading">
          <tui-hosted-dropdown tuiDropdownAlign="left" [content]="moreOptions" [(open)]="isOptionsMenuOpen">
            <button tuiIconButton type="button" appearance="icon" size="s" icon="tuiIconMoreVertLarge"></button>
          </tui-hosted-dropdown>
          <button tuiIconButton type="button" size="s" appearance="icon" icon="tuiIconUsers" tuiHint="Participants" (click)="showParticipants()"></button>
        </div>
      </div>
    </app-navbar>
    <app-chat [skeleton]="loading" [messages]="room?.messages || []" (onSend)="sendMessage($event)"></app-chat>
  </div>
</div>

<ng-template #moreOptions>
  <div class="options-menu-wrapper">
    <tui-data-list>
      <button tuiOption (click)="abandonRoom()">
        <tui-svg src="tuiIconLogoutLarge"></tui-svg>
        Leave room
      </button>
      <button tuiOption (click)="deleteRoom()" *ngIf="room?.isOwn">
        <tui-svg src="tuiIconTrashLarge"></tui-svg>
        Delete room
      </button>
      <button tuiOption (click)="showSettings()">
        <tui-svg src="tuiIconSettingsLarge"></tui-svg>
        Settings
      </button>
    </tui-data-list>
  </div>
</ng-template>