<div class="room-wrapper">
  <div *ngIf="loading">
    <p>Loading... please wait</p>
  </div>
  <div class="conversation-wrapper" *ngIf="!loading">
    <app-navbar>
      <div class="navbar-content-wrapper">
        <div class="room-info">
          <button tuiIconButton type="button" size="s" appearance="icon" icon="tuiIconArrowLeftLarge" tuiHint="Go back"
            (click)="goBack()"></button>
          <span class="room-name">Room {{conversation?.uniqueName}}</span>
        </div>
        <div class="room-options">
          <tui-hosted-dropdown tuiDropdownAlign="left" [content]="moreOptions" [(open)]="isOptionsMenuOpen">
            <button tuiIconButton type="button" appearance="icon" size="s" icon="tuiIconMoreVertLarge"></button>
          </tui-hosted-dropdown>
          <button tuiIconButton type="button" size="s" appearance="icon" icon="tuiIconUsers" tuiHint="Participants" (click)="showParticipants()"></button>
        </div>
      </div>
    </app-navbar>
    <app-chat [messages]="messages" [username]="user ? user.user_name : ''" (onSend)="sendMessage($event)"></app-chat>
  </div>
</div>

<ng-template #moreOptions>
  <div class="options-menu-wrapper">
    <tui-data-list>
      <button tuiOption (click)="leaveRoom()">
        <tui-svg src="tuiIconLogoutLarge"></tui-svg>
        Leave room
      </button>
    </tui-data-list>
  </div>
</ng-template>