<div *ngIf="loading">
  <p>Loading... please wait</p>
</div>
<ng-container *ngIf="!loading">
  <input type="text" #text>
  <button (click)="sendMessage(text.value)">Send</button>
  <button (click)="leaveRoom()">Leave</button>
  <button (click)="deleteRoom()">Delete</button>
  <div *ngIf="isHost">
    <input type="text" #participant>
    <button (click)="inviteParticipant(participant.value)">Invite</button>
  </div>
  <div class="messages-container">
    <div *ngFor="let message of messages" class="message-box" [class.author-message]="message.author === user?.user_name">
      <p>{{message.author}}</p>
      <p>{{message.body}}</p>
    </div>
  </div>
</ng-container>

