.message {
  padding: 10px;
  display: flex;
  gap: 15px;

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
    .message-time {
      font-size: 10px;
      color: #8e8e8e;
      direction: ltr;
    }

    .message-author {
      font-weight: bold;
    }
  }

  &-body {
    width: fit-content;
    background-color: #212121;
    padding: 8px 16px;
    -webkit-border-radius: 8px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 8px;
    -moz-border-radius-topleft: 0;
    border-radius: 8px;
    border-top-left-radius: 0;
    direction: ltr;

    p {
      font-size: 14px;
    }
  }
}

.message.own-message {
  direction: rtl;

  &-body {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 8px;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
  }
}


