<div class="message" [class.own-message]="processedMessage.isOwn">
  <tui-avatar [autoColor]="true" size="s" [rounded]="true" [text]="processedMessage.author.username" [avatarUrl]="processedMessage.author.avatarUrl"></tui-avatar>
  <div class="message-content">
    <div class="message-header">
      <span class="message-author">{{processedMessage.isOwn ? 'You' : processedMessage.author.username}}</span>
      <span class="message-time">{{processedMessage.dateCreated! | time}}</span>
    </div>
    <div class="message-body">
      <p *ngIf="processedMessage.type === 'text'">{{processedMessage.body}}</p>
      <app-audio-player *ngIf="audio" [audio]="audio"></app-audio-player>
      <app-image-viewer *ngIf="image" [image]="image"></app-image-viewer>
    </div>
  </div>
</div>

