$darkest: #161616;
$darker: #212121;
$dark: #323232;
$accent: #14FFEC;
$primary: #0D7377;

.app-container {
  background-color: $darker;
  width: 100vw;
  height: 100vh;
}

.app-logo {
  display: none;

  &-img {
    width: 25px;
  }
}

.mobile-container {
  background-color: $dark;
  height: 100%;
  width: 100%;
}

@media (min-width: 600px) {
  .app-container {
    padding-top: 50px;
  }

  .app-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
  }

  .mobile-container {
    width: 465px;
    height: 600px;
    margin: auto;
    overflow: auto;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 8%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 600px) and (max-height: 640px) {
  .mobile-container {
    height: 500px;
  }
}

@media (min-width: 600px) and (min-height: 800px) {
  .mobile-container {
    height: 700px;
  }
}

@media (min-width: 600px) and (min-height: 900px) {
  .mobile-container {
    height: 800px;
  }
}

@media (min-width: 600px) and (min-height: 1000px) {
  .mobile-container {
    height: 900px;
  }
}