:host {
  width: 100%;
}

:host-context(.align-left) .navbar-wrapper {
  justify-content: flex-start;
}

:host-context(.align-center) .navbar-wrapper {
  justify-content: center;
}

:host-context(.align-right) .navbar-wrapper {
  justify-content: flex-end;
}

.navbar-wrapper {
  padding: 20px;
  display: flex;
}