<form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
  <span class="length-indicator" [class.limit-reached]="messageForm.value.text.length >= maxLength">{{messageForm.value.text.length}}/{{maxLength}}</span>
  <div class="input-wrapper">
    <tui-input formControlName="text" tuiTextfieldSize="s">
      Type a message...
      <input tuiTextfield autocomplete="off" />
    </tui-input>
    <button
      tuiIconButton
      type="submit"
      size="s"
      [icon]="sendIcon"
      [disabled]="messageForm.invalid || messageForm.value.text.length >= maxLength"
      ></button>
  </div>
</form>

<ng-template #sendIcon>
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="-40 -40 200 200" width="32" height="32"><path d="m2.33 44.58 115-44.21a3.63 3.63 0 0 1 5 4.56l-44 115.61a3.63 3.63 0 0 1-6.67.28L53.93 84.14l35.19-50.37-50.27 35.09L2.06 51.24a3.63 3.63 0 0 1 .27-6.66Z" style="fill:currentColor"/></svg>
</ng-template>
