:host {
  width: 100%;
  padding: 10px;
  display: flex;
  background-color: var(--dark);
}

form {
  width: 100%;

  .main-messager-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5em;
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    gap: .5em;
    align-items: center;
  
    tui-input {
      width: 100%;
    }
  }

  .length-indicator {
    display: block;
    padding: 5px;
    padding-top: 0px;
    font-size: 10px;

    &.limit-reached {
      color: red;
    }
  }
}

.attachment-container {
  margin-top: 10px; 
  
  .send-image-button {
    width: 100%;
    margin-top: 20px;
  }
}

.recording-wrapper {
  position: relative;
}

.recording-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  justify-content: center;

  .record-dot {
    aspect-ratio: 1;
    border-radius: 100%;
    height: 8px;
    background: red;
    
    &:not(.paused) {
      animation: blink 1500ms infinite;
    }
  }
}

.user-consent-wrapper {
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@keyframes blink {
  0%,50% {
    opacity: 1;
  }
  51%,100% {
    opacity: 0;
  }
}