$locked-color: #ff5153;
$disabled-color: #6d6d6d;
$unlocking-color: #949494;
$unlocked-color: var(--tui-accent);

tui-scrollbar {
  max-height: 100%;
}

:host {
  width: 100%;
  height: 100%;
}

.page-wrapper {
  justify-content: flex-start;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 70px 0px 40px 0px;

  &-img {
    width: 150px;
  }

  &-text {
    margin: 0;
  }

}

.avatar-button {
  display: flex;
  align-items: center;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}

.avatar-menu {
  &-wrapper button {
    justify-content: flex-start;
    gap: 10px;
  }

  &-label {
    padding: 0 10px 10px 8px;
  }

  &-username {
    font-weight: bold;
  }
}

.room-code-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > h3 {
    color: var(--tui-accent);
  }
  
  & > tui-loader {
    aspect-ratio: 1;
    height: 50px;
  }
}

//Lock

.lock-wrapper {
  display: flex;
  transform: scale(1.4);
  margin-top: 40px;
}

.lock {
  width: 24px;
  height: 21px;
  border: 3px solid $locked-color;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.lock.unlocking {
  border-color: $unlocking-color;

  &:after {
    background: $unlocking-color;
  }

  &:before {
    border-color: $unlocking-color;
    animation: unlocking 500ms;
    animation-iteration-count: infinite;
  }
}

.lock.disabled {
  border-color: $disabled-color;
  cursor: default;

  &:after {
    background: $disabled-color;
  }

  &:before {
    border-color: $disabled-color;
  }
}

.lock:after {
  content: "";
  display: block;
  background: $locked-color;
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  bottom: 100%;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  border: 3px solid $locked-color;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.lock:hover:before {
  height: 12px;
}

.unlocked {
  transform: rotate(10deg);
}
.unlocked:before {
  bottom: 130%;
  left: 31%;
  margin-left: -11.5px;
  transform: rotate(-45deg);
}
.unlocked,
.unlocked:before {
  border-color: $unlocked-color;
}
.unlocked:after {
  background: $unlocked-color;
}

.unlocked:hover {
  transform: rotate(3deg);
}
.unlocked:hover:before {
  height: 10px;
  left: 40%;
  bottom: 124%;
  transform: rotate(-30deg);
}

@keyframes unlocking {
  0% { height: 10px; }
  100% { height: 12px; }
}