:host {
  width: 100%;
  height: 100%;
}

h1 {
  margin-bottom: 1.5em;
}

.avatar-button {
  display: flex;
  align-items: center;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}

.avatar-menu {
  &-wrapper button {
    justify-content: flex-start;
    gap: 10px;
  }

  &-label {
    padding: 0 10px 10px 8px;
  }

  &-username {
    font-weight: bold;
  }
}

.room-code-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;      
}