<h2>Participants ({{room.participants.length}})</h2>
<form *ngIf="room.isOwn" class="invite-form" [formGroup]="inviteForm" (ngSubmit)="inviteParticipant()" >
  <tui-input formControlName="identity" tuiTextfieldSize="s">
    Invite participant by username
    <input tuiTextfield autocomplete="off" />
  </tui-input>
  <button tuiButton type="submit" size="s" [disabled]="inviteForm.invalid">Invite</button>
  <div tuiGroup class="group" [collapsed]="false">
    <button tuiIconButton tuiHint="Copy permanent invite link" type="button" size="s" icon="tuiIconLinkLarge" (click)="copyLink()"></button>
    <button tuiIconButton tuiHint="Generate new invite link" type="button" size="s" icon="tuiIconRefreshLarge" [disabled]="true"></button>
  </div>
</form>
<hr class="divisor">
<tui-scrollbar class="mr">
  <ul class="participants-list">
    <li *ngFor="let participant of room.participants" class="participants-list-item">
      <div class="user-info">
        <tui-avatar [autoColor]="true" size="s" [rounded]="true" [text]="participant.username" [avatarUrl]="participant.avatarUrl"></tui-avatar>
        <span>{{participant.username}}</span>
      </div>
      <div class="user-actions">
        <button tuiIconButton 
                appearance="flat" 
                tuiHint="Kick participant" 
                type="button" 
                size="s" 
                icon="tuiIconTrashLarge"
                *ngIf="room.isOwn && participant.username !== user.user_name"
                (click)="kickParticipant(participant.username)"></button>
      </div>
    </li>
  </ul>
</tui-scrollbar>