.invite-form {
  margin-top: 1em;
  display: flex;
  gap: 10px;

  tui-input {
    width: 100%;
  }
}

.participants-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-height: 400px;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-info {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}

.host-tag {
  font-size: 12px;
  color: #a1a1a1;
  margin-left: 10px;
}