.badge-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  tui-badge {
    font-size: 12px;
    color: #FFF;
    background-color: #686868;
  }
}

.tooltip-wrapper {
  max-width: 120px;

  p {
    font-size: 12px;
  }
}